<header>
    <img src="/images/logo.svg" alt="Fylo logo" />
    <div class="header-icons-container">
        <div>
            <img src="/images/icon-document.svg" alt="Document" />
        </div>
        <div>
            <img src="/images/icon-folder.svg" alt="Folder" />
        </div>
        <div>
            <img src="/images/icon-upload.svg" alt="Upload" />
        </div>
    </div>
</header>