<section>
    <p>You've used <strong>815 GB</strong> of your storage</p>
    <div class="content-progres" aria-value='60'>
        <span></span>
    </div>
    <div class="content-left-gb">
        <span>185</span> GB LEFT
    </div>
</section>